<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836338928402-tbtmnhl8ihfkij1qsb5so5i696649104.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836338928402-tbtmnhl8ihfkij1qsb5so5i696649104</string>
	<key>API_KEY</key>
	<string>AIzaSyBJZZrxZifw_9uXBaOs5D4alLSMDhtrwh4</string>
	<key>GCM_SENDER_ID</key>
	<string>836338928402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scanmylaundry</string>
	<key>PROJECT_ID</key>
	<string>scanmylaundry-1641d</string>
	<key>STORAGE_BUCKET</key>
	<string>scanmylaundry-1641d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836338928402:ios:6f4d19248a3890cd1101cb</string>
</dict>
</plist>