<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WaterMarket.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1D934901B32F61AC402EB34D027BF1A54108B8EF</string>
				<key>dateExpires</key>
				<string>26/11/2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>84JD733YK8.org.native.WaterMarket</string>
				<key>com.apple.developer.team-identifier</key>
				<string>84JD733YK8</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>84JD733YK8.org.native.WaterMarket</string>
				</array>
			</dict>
			<key>name</key>
			<string>WaterMarket.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3524a3eb-f507-4ef7-86c0-6f31c78c3178</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: org.native.WaterMarket</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>84JD733YK8</string>
				<key>name</key>
				<string>Saqifat Alfikrah Co Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
